<div class="header center">
  <h1>Pick a Course</h1>
</div>


<div class="collection">
  <% @cities_array.each do |city| %>
    <a href="#!" class="collection-item"><%= city %></a>
  <% end %>
</div>


<!-- <ul class="collection">
  <li class="collection-item"></li>
</ul> -->
<!--
<div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div> -->
