<div class="header center">
  <h1>Pick a Course</h1>
</div>

<div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <% @cities_array.each do |city| %>
        <option value="1"><%= city %></option>
      <% end %>
    </select>
    <label>Select a City</label>
  </div>
