<div class="parallax-container">
  <h1 class="center">Find Your Course</h1>
  <div class="parallax">
    <%= image_tag "driver.jpg" %>
  </div>
</div>

<div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <% @cities_array.each do |city| %>
        <option value="1"><%= city %></option>
      <% end %>
    </select>
    <label>Select a City</label>
  </div>
