<!DOCTYPE html>
<html>
  <head>
    <title>GolfApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">GolfApp</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
